 <FilesMatch "settings.php">
    Order Deny,Allow
    Deny from all
    Satisfy All
 </FilesMatch>

 <FilesMatch "settingsbak.php">
    Order Deny,Allow
    Deny from all
    Satisfy All
 </FilesMatch>
