 <FilesMatch "settings.php">
    Order allow,deny
    Deny from all
    Satisfy All
 </FilesMatch>

 <FilesMatch "settingsbak.php">
    Order allow,deny
    Deny from all
    Satisfy All
 </FilesMatch>
