#RewriteEngine on
#RewriteBase   /idb/
#RewriteRule   ^idb-(admin|calendar|category|event|forum|index|member|messenger|profile|rss|search|subcategory|subforum|topic)(.*)$    $1.php$2
#RewriteRule   ^intdb-(admin|calendar|category|event|forum|index|member|messenger|profile|rss|search|subcategory|subforum|topic)(.*)$    $1.php$2
#RewriteRule   ^view-(admin|calendar|category|event|forum|index|member|messenger|profile|rss|search|subcategory|subforum|topic)(.*)$    $1.php$2