Order Deny,Allow
Deny from all

 <Files "*">
    Order Deny,Allow
    Deny from all
    Satisfy All
 </Files>

<FilesMatch "^Vera\.ttf$">
    Order Allow,Deny
    Allow from all
    Satisfy All
</FilesMatch>

<FilesMatch "^VeraBd\.ttf$">
    Order Allow,Deny
    Allow from all
    Satisfy All
</FilesMatch>

<FilesMatch "^VeraBI\.ttf$">
    Order Allow,Deny
    Allow from all
    Satisfy All
</FilesMatch>

<FilesMatch "^VeraIt\.ttf$">
    Order Allow,Deny
    Allow from all
    Satisfy All
</FilesMatch>
