/*
    This program is free software; you can redistribute it and/or modify
    it under the terms of the Revised BSD License.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    Revised BSD License for more details.

    Copyright 2004-2006 Cool Dude 2k - http://intdb.sourceforge.net/
    Copyright 2004-2006 Game Maker 2k - http://upload.idb.s1.jcink.com/
    $ThemeInfo - Name: iDB Theme - Author: cooldude2k $
    $FileInfo: css.css - Last Update: 06/04/2007 SVN 18 - Author: cooldude2k $
*/
html {
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	width: 100%;
	color: #FFFFFF;
	background-color: #000000;
}
body {
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	margin: 5px 30px 5px 30px; 
	color: #FFFFFF;
	background-color: #000000;
}
a:link, a:visited, a:active { 
text-decoration: none; 
color: #465584; 
}
a:hover { 
color: #6665A4; 
text-decoration: none; 
}
.NavBar2 a:link, .NavBar2 a:visited, .NavBar2 a:active, .NavBar2 a:hover { 
text-decoration: none; 
color: #000000;
font-family: verdana, arial, sans-serif;
font-size: 40px;
}
.copyright { 
text-align: center;
font-family: Sans-Serif; 
font-size: 12px; 
line-height: 11px; 
color: #FFFFFF; 
}
.copyright a:link, .copyright a:visited, .copyright a:active { 
color: #DFDFDF; 
text-decoration: none; 
}
.copyright a:hover { 
color: #FDFDFD; 
text-decoration: none; 
}
.noborder { 
border: 0px;
}
img {
   border: 0px;
   vertical-align: middle;
   display: inline;
}
.NavBar1 { 
background-color: #a7b1bd; 
font-size: 11px;
font-family: verdana, arial, sans-serif;
color: #000000; 
width: 100%;
border: 1px solid #506070;
border-collapse: collapse; 
}
.NavBar2 { 
background-color: #c7d1dd;
font-size: 11px;
text-align: center;
border: 1px solid #506070;
}
.NavBar3 { 
background-color: #d7e1ed;
font-size: 11px;
text-align: left;
border: 1px solid #506070;
}
.Table1 { 
background-color: #a7b1bd; 
font-size: 11px;
font-family: verdana, arial, sans-serif;  
color: #000000; 
width: 100%;
border: 1px solid #506070;
border-collapse: collapse; 
}
.Table2 { 
background-color: #000000;
font-size: 11px;
font-family: verdana, arial, sans-serif;
color: #000000;
width: 100%;
}
.Table2 a:link, .Table2 a:visited, .Table2 a:active { 
text-decoration: none; 
color: #7675B4;
}
.Table2 a:hover { 
color: #9695C4; 
text-decoration: none; 
}
.Table3 { 
font-size: 11px;
font-family: verdana, arial, sans-serif;  
color: #000000; 
width: 100%;
}
.TableRow1 { 
background-color: #c7d1dd; 
background-image: url(grad.png);
border: 1px solid #506070;
}
.TableRow2 { 
background-color: #d7e1ed; 
border: 1px solid #506070;
}
.TableRow3 { 
background-color: #a7b1bd; 
border: 1px solid #506070;
}
.TableRow4 { 
background-color: #c7d1dd; 
border: 1px solid #506070;
}
.CalTableRow1, .CalTableRow2 { 
background-color: #a7b1bd; 
border: 1px solid #506070;
}
.TextBox { 
background-color: #c7d1dd; 
font-size: 13px; 
font-family: Courier, Courier New, Verdana, Arial;   
color: #000000; 
border: 1px solid #506070;
border-collapse: collapse; 
}
.HiddenTextBox {
display: none;
}
.QuoteTop { 
font-family: Verdana, Tahoma, Arial, sans-serif;
font-size: 10px; 
color: #A0A0A0; 
}
.QuoteBottom { 
font-family: Courier, Courier New, Verdana, Arial, serif; 
font-size: 12px; 
color: #C0C0C0; 
background-color: #000000; 
border: 1px solid #000; 
border-color: #808080;
padding-top: 2px; 
padding-right: 2px; 
padding-bottom: 2px; 
padding-left: 2px 
}
.CodeTop  { 
font-family: Verdana, Tahoma, Arial, sans-serif; 
font-size: 10px; 
color: #A0A0A0; 
}
.CodeBottom { 
font-family: Courier, Courier New, Verdana, Arial;  
font-size: 12px; 
color: #C0C0C0; 
background-color: #000000; 
border: 1px solid #000; 
border-color: #808080;
padding-top: 2px; 
padding-right: 2px; 
padding-bottom: 2px; 
padding-left: 2px 
}
.CodeBox { 
width:500px; 
height:100px; 
white-space:pre; 
overflow:auto; 
border:3px outset #000000; 
font-family: Courier, Courier New, Verdana, Arial, serif; 
font-size: 15px; 
}
.Button { 
background-color: #c7d1dd; 
font-size: 13px; 
font-family: Courier, Courier New, Verdana, Arial;   
color: #000000; 
border: 1px solid #506070;
border-collapse: collapse; 
}
.TextBoxLabel, label {
color: #000000;
font-weight: bold; 
cursor: pointer;
font-size: 10px;
}
.EditReply {
color: #000000;
font-size: 9px; 
}
.TableMessage {
color: #000000;
font-weight: bold; 
font-size: 10px;
}